@{
	ViewBag.Title = "Contact Us";
}

<body class="contact-body">
    <div class="contact-us-container">
        <div class="contact-section">
            <h2>Contact Us (Resident Office)</h2>
            <div class="contact-details">
                <p><strong>Office Hours:</strong> Monday - Friday, 9:00 AM - 9:00 PM &nbsp;&nbsp;&nbsp;&nbsp;Saturday - Sunday, 9:00 AM - 5.00 PM</p>
                <p><strong>Contact Number:</strong> +60 4- 8888888</p>
                <p><strong>Location:</strong> A0001-A0008, Granito Tanjung Rambutan</p>
            </div>
        </div>

        <div class="contact-section">
            <h2>Contact Us (Application Developer)</h2>
            <div class="contact-details">
                <p><strong>Office Hours:</strong> Monday - Friday, 10:00 AM - 6:00 PM</p>
                <p><strong>Contact Method:</strong> Email - datodrlee@gmail.com</p>
                <p><strong>Copyright:</strong> © 2024 DATO DR LEE WEBSOLUTION SDN. BHD</p>
            </div>
        </div>

        <!-- Google Map Section -->
        <div class="google-map">
            <h2>Our Location on the Map</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4674760.396156561!2d-24.51729620188166!3d64.77550775488288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d22b52a3eb6043%3A0x6f8a0434e5c1459a!2sIceland!5e1!3m2!1sen!2smy!4v1735479829107!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>