@{
	ViewBag.Title = "Welcome to DIDARO Report and Reponse System";
}

<div class="all-home-content">

	<div class="home-content-1">
		<h2>Your own System to Issues Easily and Efficiently!</h2>
		<p>A space for individuals to express their concerns and enhance the well-being of the entire community.</p>
	</div>

	<div class="home-content-2">
		<h1>Have an Issue? Let's Solve It Together!</h1>
		<a href="/Report/AddReport" class="home-report-button">Report an Issue</a>
	</div>

	@* <div> *@
	@* 	<h1> *@
	@* 		Hello *@
	@* 	</h1> *@
	@* </div> *@

</div>