@{
    ViewBag.Title = "Maintenance Team Vendor List";
}

<div class="allBackMemView">
	<div class="ajax-areasMV">
        <form data-ajax="true" data-ajax-update="#target" data-ajax-loading="#loader">
			@Html.TextBox("name", "", new { type = "search", autofocus = "", data_trim = "" })
            <button>Search</button>

            <img src="/images/loader.gif" id="loader" style="display: none" />
        </form>
	</div>


	<div id="target" class="backAllDetailsF">
		<!-- Load the partial view content here -->
		<partial name="_MTPV" />
	</div>

</div>

@section foot {
    <script>
        let timer = null;

        // Handle input change and delay search submission
        $('#name').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });
    </script>
}
