body{
    background-color: white;
    background-image: url(../pictures/tablet/background\ tablet6.gif);
}
p{
    font-style: italic;
    color: black ;
    font-size: 20px;
}


.ipad-container-single-product img{
    background-color: rgb(255, 255, 255);

}

.ipad-container-single-product{
    margin-top: 70px;

}
.single-product.col-2 img{
    padding: 0px;

}
.single-product.col-2{
    margin-left: 20px 0;
}
section{
    margin-top:100px;
   
}

.single-product h4{
    margin: 2px;
    font-size: 2px;
    font-weight: bolder;
}
.single-product select{
    display: left;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 5px;
    height: 4px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 1px;
    border: 1px solid black;
}
input:focus{
    outline:none;


}
.small-img-row{
    display: flex;
    justify-content: left;
    
}
.small-img-col{
  flex-basis: 30%;
 
}
.col-2-2{
    
    color: rgb(66, 69, 66);
    font-size: 20px;
    font-family: "Trirong", serif;
/*   
   margin-bottom: 2000px;
      */
     
}

.ipad{
  
    animation-name: example;
    animation-duration: 100s;
  }
  
  @keyframes example {
    0%   {background-color: rgb(255, 254, 254);}
    10%  {background-color: rgb(255, 229, 229);}
    20%  {background-color: rgb(255, 242, 229);}
    30%  {background-color: rgb(255, 255, 229);}
    40%  {background-color:	rgb(242, 255, 229);}
    50%  {background-color: rgb(229, 255, 229);}
    60%  {background-color: rgb(179, 255, 255);}
    70%  {background-color: rgb(229, 255, 249);}
    80%  {background-color: rgb(229, 249, 255);}
    90%  {background-color: rgb(229, 236, 255);}
    99% {background-color: rgb(229, 236, 255) ;}
    100%{background-color:  rgb(229, 236, 255);}
  }