@model LoginVM

@{
	ViewBag.Title = "Account | Login";
}

<div class="login">
	<div class="loginForm">
		<form class="login-form" method="post">
			<div asp-validation-summary="ModelOnly"></div>

			<label asp-for="ResidencePlateNumber"></label>
			<input asp-for="ResidencePlateNumber" autofocus>
			<span asp-validation-for="ResidencePlateNumber"></span>

			<label asp-for="Password"></label>
			<input asp-for="Password">
			<span asp-validation-for="Password"></span>

			<br>
			<label>
				<input asp-for="RememberMe">Remember Me
			</label>
			<br>

			<section>
				<button>Login</button>
				<button type="reset">Reset</button>
			</section>
			<br />
			<sup>Don't have an account yet?</sup>
			<p>
				[ <a href="/Account/Register">Register</a> |
				<a href="/Account/ResetPassword">Reset Password</a> ]
			</p>
		</form>

	</div>
</div>
