@model ResetPasswordVM

@{
    ViewBag.Title = "Reset Password";
}
<body>
    <div class="form-container1">
        <form class="update-form" method="post" asp-controller="Account" asp-action="ResetPassword" >
            <div asp-validation-summary="All"></div>

            <label asp-for="Email"></label>
            <input asp-for="Email" autofocus>
            <span asp-validation-for="Email"></span>

            <section>
                <button type="submit">Send OTP</button>
                <button type="reset">Reset</button>
            </section>
        </form>
    </div>
</body>