@model UpdatePasswordVM

@{
    ViewBag.Title = "Account | Update Password";
}
<div class="form-container">
<form class="update-form" method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Current"></label>
    <input asp-for="Current" autofocus>
    <span asp-validation-for="Current"></span>

    <label asp-for="New"></label>
    <input asp-for="New">
    <span asp-validation-for="New"></span>

    <label asp-for="Confirm"></label>
    <input asp-for="Confirm">
    <span asp-validation-for="Confirm"></span>

    <div class="g-recaptcha" data-sitekey="6LftuqgqAAAAAFj6N8PamxssEOuHM5mTi9nVmQLh"></div>
    <span class="text-danger" asp-validation-for="Recaptcha"></span>

        <input asp-for="ResidencePlateNumber" type="hidden">
    <section>
        <button>Update</button>
        <button type="reset">Reset</button>
    </section>
</form>
</div>